.a-CreateOneLogin{
    color: white;
    text-decoration: none;
    background-color: black;
    border: none;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    padding: .75%;
}
a:hover {
    background-color: lightgrey;
}
button {
    background-color: rebeccapurple;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    padding: 1%;
}
button[type=submit] {
    background-color: rebeccapurple;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    padding: 1%;
}
button:hover {
    background-color: lightgrey;
}
.dropdown-survey{
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.dropdown-survey:hover{
    background-color: lightgrey;

}
input[type=submit] {
    background-color: rebeccapurple;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    margin: 0% 25%;
    padding: 1%;
}
input:hover {
    background-color: lightgrey;
}
input[type=text], input[type=password], input[type=datetime-local], input[type=number], input[type=time]{
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.styled-container {
    background-color: rebeccapurple;
    color: white;
    padding:1%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.styled-container h1 {
    font-size: 2.5vw;
    margin-bottom: 1%;
}

.styled-container h3 {
    font-size: 1.5vw;
    padding-left: 15%;
    padding-right: 15%;
}
select:hover{
    background-color: lightgrey;
}
select{
    width: 25%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
table {
    border: 1px rebeccapurple;
    border-collapse: collapse;
    margin:auto;
    width: 50%;

}
textarea:hover {
    background-color: lightgrey;
}
td {
    text-align: left;
    font-size: 1.5vw;
    color: rebeccapurple;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

/* Planner Styles */
.planner {
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}

.day {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}

.event {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    margin: 4px 0;
    border-radius: 5px;
}

.add-event {
    margin-top: 20px;
}

.note-container {
    max-width: 600px;
    margin: auto;
    width: 100%;
}

.note {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.note h2 {
    margin-top: 0;
}

.delete-button {
    cursor: pointer;
    color: red;
}

.timestamp {
    color: grey;
}

.lastUpdatedTimestamp {
    color: grey;
}