.a-CreateOneLogin {
    color: white;
    text-decoration: none;
    background-color: black;
    border: none;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    padding: .75%;
}
.a-CreateOneLogin:hover {
    background-color: lightgrey;
}
.a-modules a {
    color: white;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25vw;
    padding: .75%;
    text-decoration: none;
}
a:hover {
    text-shadow: 0 0 15px darkgrey;
}
button {
    background-color: rebeccapurple;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    padding: 1%;
}
button:hover {
    background-color: lightgrey;
}
.dropdown-survey{
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.dropdown-survey:hover{
    background-color: lightgrey;

}
input[type=submit] {
    background-color: rebeccapurple;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    margin: 0% 25%;
    padding: 1%;
}
input:hover {
    background-color: lightgrey;
}
input[type=text], input[type=password], input[type=datetime-local], input[type=number], input[type=time]{
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
img {
    width:25%;
}
.module-checkboxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.styled-container {
    background-color: rebeccapurple;
    color: white;
    padding: 1%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.styled-container h1 {
    font-size: 2.5vw;
    margin-bottom: 1%;
}
.styled-module {
    background-color: rebeccapurple;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float:left;
    margin: 10px;
    padding: 10px;
    width: 300px;
}
.styled-module:hover {
    box-shadow: 0 0 15px black;
}
.module-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    text-align: center;
}
.styled-container h3 {
    font-size: 1.5vw;
    padding-left: 15%;
    padding-right: 15%;
}
select:hover {
    background-color: lightgrey;
}
select {
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    margin: auto;
    width: 50%;
}

textarea:hover {
    background-color: lightgrey;
}
td {
    font-size: 1.5vw;
    padding: 8px;
    text-align: left;
    color: rebeccapurple;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

/* Planner Styles */

.row {
    display: flex;
}

.column {
    flex: 100%;
}

.planner {
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}

.reminder {
    font-size: 15px;
    padding: 8px;
    text-align: center;
    color: black;
    border: 2px solid #ddd;
}

.day {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}

.event {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    margin: 4px 0;
    border-radius: 5px;
}

.add-event {
    margin-top: 20px;
    float: left;
    width: 50%;
}

.note-container {
    max-width: 600px;
    margin: auto;
    width: 100%;
}

.note-div {
    margin-top: 20px;
    float: right;
    width: 50%;
}

#note-table {
    margin: auto;
    width: 100%;
}

.note {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.note h2 {
    margin-top: 0;
}

.delete-button {
    cursor: pointer;
    color: red;
}

.timestamp {
    color: grey;
}

.lastUpdatedTimestamp {
    color: grey;
}

/* Tutor Styles */
.tutor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.course-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 15px;
    width: 300px;
}

.course-card h2 {
    color: #333;
    margin-bottom: 10px;
}

.tutors {
    display: flex;
    flex-direction: column;
}

.tutor {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.contact-button {
    background-color: #80049c;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.contact-button:hover {
    background-color: #80049c;
}

.course-card:hover {
    box-shadow: 0 0 15px rgba(128, 4, 156, 0.7);
}

.search-bar-tutor {
    text-align: center;
}

h1 {
    text-align: center;
}

/* Facility Hours Styles */

.cell {
    display:flex;
    margin:0;
    flex-direction:column;
    border: 1px solid;
    height: 10%;
}