.dropdown-survey{
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.dropdown-survey:hover{
    background-color: lightgrey;

}
input[type=submit] {
    background-color: rebeccapurple;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    margin: 0% 25%;
    padding: 1%;
}
input:hover {
    background-color: lightgrey;
}
input[type=text], input[type=password], input[type=datetime-local] {
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.styled-container {
    background-color: rebeccapurple;
    color: white;
    padding:1%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.styled-container h1 {
    font-size: 2.5vw;
    margin-bottom: 1%;
}

.styled-container h3 {
    font-size: 1.5vw;
    padding-left: 15%;
    padding-right: 15%;
}
table {
    border-collapse: collapse;
    margin:auto;
    width: 50%;

}
textarea:hover {
    background-color: lightgrey;
}
td {
    font-size: 1.5vw;
    padding: 8px;
    text-align: left;
    color: rebeccapurple;
}
